[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
sphinxcontrib-moderncmakedomain = "*"
sphinx-panels = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.10"
